.toolbar {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background-color: #4aa3a3;
	height: 25px;
	margin: 0;
	padding: 0;
	border-bottom: 1px black solid;
}

.toolbar i {
	font-size: 16px;
	padding: 6px 8px 8px 8px;
}

.toolbar h2 {
	font-size: 16px;
}